<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.model.BoardMapper">
    
    <resultMap type="HashMap" id="boardMap">
    	<id column="title" property="title"/>
    	<id column="content" property="content"/>
    </resultMap>
    
    <resultMap type="HashMap" id="sampleMap">
    	<id column="test" property="seq"/>
    </resultMap>
    
    <select id="selectBoardList" resultMap="boardMap">
        SELECT title, content FROM boards
    </select>
    
    <!-- 게시글 추가 -->
    <insert id="insertBoards" parameterType="hashmap">
	    INSERT INTO boards
		(
			 menu_id
			,boards_sno
			,boards_title
			,boards_contents
			,regist_dt
			,modify_dt
			,view_count
			,regist_id
			,modify_id
			,delete_yn
			,parent_sno
		) 
		values
		(
			 #{menuId}
			,ISNULL(
				 (select MAX(boards_sno) from boards where menu_id = #{menuId})
				,0
			 )+1
			,#{boardsTitle}
			,#{boardsContents}
			,GETDATE()
			,GETDATE()
			,'0'
			,#{userId}
			,#{userId}
			,'N'
			,#{parentSno}
		)
    </insert>
    
  	<!-- 게시글 수정 -->
    <update id="updateBoards" parameterType="hashmap">
	    update boards set
			  boards_title = #{boardsTitle}
			 ,boards_contents = #{boardsContents}
			 ,modify_dt = GETDATE()
			 ,modify_id = #{userId}
		where menu_id = #{menuId}
		and	boards_sno = #{boardsSno}
    </update>
</mapper>